@import './variables.scss';
@import './mixins.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // remove in the end
  outline: 1px solid red;
}
:root{
  font-size: 10px;

}

body {
  // test
  color: $color;
  background-color: $background;
  @include flexCenter();

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}